@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
body {  
  margin: 0;
  width: 100%;   
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton:hover{
  background-color: rgba(66, 180, 228, 0.892);
  box-shadow: rgba(0, 0, 0, 0.25) px 0px 10px 2px;
}

h1{
  text-align: center;  
}
h3{
  text-align: center;  
}

nav{
  @apply bg-primary;
  display: flex;   
  justify-content: space-between;  
  padding: 0.5rem;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;  
}
.navigate{
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
div > img {
  width: 150px;
  margin: 0;
}
a{
  color: #000;
  text-decoration: none;  
  cursor: pointer;
  
}
a:hover{
  color: rgb(136, 136, 136);  
} 

button:hover {
  cursor: pointer;
  color: rgb(63, 62, 62);
  
}

footer {
  background-color: rgb(6 182 212);  
  width:100%;
  
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30vw;
  min-width: 400px;  
  margin: 0 auto; 
  padding: 2rem;
  border: 1px solid black;
  border-radius: 25px;
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 25px 5px;
  border: 0.5px solid rgb(5, 5, 0);
}


.buttonNav{
  font-size: 17px;  
  width: 35px;
  height: 33px;
  padding-bottom: 10px;
  margin: 2px;
  border-radius: 10px; 
  
}

.link{  
  width: 20vw;
  display: flex;
  justify-content: space-around; 
  gap: 1rem;   
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.dark{
  background-color: #030000cb;
  color: white;
}
.dark #nav{
  @apply bg-primary;
  
}

.dark .card{
  background-color: #87949854;
  color: white;
  height: 100vh;
}
.dark a {
  color: white;
}
.dark .card:hover { 
  box-shadow: rgba(255, 255, 255, 0.572) 0px 0px 25px 5px;
}
.dark button{
  color: white;
  background-color: #4f9cad;
}

.navToggle{
  display: none;
}

@media (max-width: 768px) {
    
    .dark.link{
    background-color: #030000ae;
    color: white;
      
    }
    .link{
      position: absolute;
      top:60px;
      left:0px;
      background-color: #06B6D4;      
      color:white;
      display: flex;
      flex-direction: column;  
      justify-content: space-around;    
      width: 35%;
      height: 120px;      
      /* border: solid 3px #4f9cad; */
    }  
    .link.close{
      transform: translateX(-104%);
      transition: 0.3s ease all;
    }
    .link.open{
      transform: translateX(0);
      transition: 0.3s ease all;
      display: flex;
      justify-content: center;
    }
    
    .hamburg span{
      display: flex;
      width: 30px;
      height: 4px;
      background: white;
      margin: 5px;
      border-radius: 2px;
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
    }
    .navToggle{
      display: flex !important;   
      align-items: center;      
      margin: 10px;
      gap: 1rem;
    }

    .navigate{
      display: none;
    }
    .hamburg.open > span {
      transform: rotate(45deg) translate(0px, 0px);
    }
    .hamburg.open span:nth-child(2){
        display: none;
    }
    .hamburg.open span:nth-child(3) {
        transform: rotate(-45deg) translate(-6px,1px);
    }
    @media (max-width: 473px) {

      #theme{
        padding: 4px;               
        font-size: 15px;
        line-height: normal;    
      }

    }


}
